.imageUpload{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 25px;
}

.uploadCapBtn{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
  
  .uploadCap {
    width: 70%;
  }
  
  .uploadBtn {
    width: 30%;
  }